<!DOCTYPE html>
<html>
<head>
  <title>PerformanceTesting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/customers">CUSTOMERS</a>
<a href="/sales"> SALES</a>

<%= yield %>

</body>
</html>
